body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color:#f2f2f2;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password],input[type=number],input[type=file] .status {
    width: 19%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #fff;
  }
  input[type=radio] {
    border: 0px;
    width: 2%;
    height: 23px;
    margin: 0;
    word-spacing: collapse;
justify-content: collapse;
}
  input[type=text]:focus, input[type=password]:focus,input[type=number]:focus,input[type=radio],input[type:file] .status{
    background-color: rgb(233, 211, 211);
    outline: none;
  }
  input[type:file]{

    border:none;
  }
  .rad{
    font-size: 20px;
  
}


 

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }